*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color:var(--green-dark) ;
    height: 75px;
    display: flex;
    gap: 60px;
}
nav img{
    height: 75px;
}
nav div{
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    
}
nav div a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
nav a img{
    height: 20px;
}